<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CHANEL</title>

		<link rel="stylesheet" href="/styles.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block head %}{% endblock %}
	</head>
	<body>

		<header class="bg-dark" role="header">
			  <div class="container">
					{% block header %}
					<a href="http://www.chanel.com">
						<h1 class="text-center text-light">
							CHANEL
						</h1>
					</a>
					{% endblock %}
				  </div>
		</header>

		<section class="container" role="application">
			{% block body %}{% endblock %}
		</section>

		<div class="text-center" role="footer">
			<a href="http://www.chanel.com" class="logo"></a>
		</div>

	</body>
</html>
